#Titlebar {
	background: var(--primary-bg-color);
	font-weight: 200;
    height: 40px;
	padding: 0px;
	width: 100%;
	text-align: center;
	color: var(--primary-fg-color);
	line-height: 38px;
}

#Titlebar #LogoutButton {
	float: right;
	background-color: transparent;
    border: medium none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 19px;
    color: var(--primary-fg-color);
}