# Mac OS X
.DS_Store
.AppleDouble
.LSOverride

# Linux
.directory

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
.idea/

# Video files
#*.m4v
#*.mp4
#*.webm
#*.mov
#*.mpg

#data folder
#_data/
#server folder
_server/
#visitors file
visitors.db
#avoid accidental commits of open weather map api key
openweathermap.php
deploy_dev.sh
cache/*
!cache/.gitkeep
