#loadingScreen {
	position: absolute;
	z-index: 9000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    background: var(--primary-bg-color);
    /*
    background: -moz-radial-gradient(center, ellipse cover,  #484a54 1%, var(--primary-bg-color) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#484a54), color-stop(100%,var(--primary-bg-color)));
    background: -webkit-radial-gradient(center, ellipse cover,  #484a54 1%,var(--primary-bg-color) 100%);
    background: -o-radial-gradient(center, ellipse cover,  #484a54 1%,var(--primary-bg-color) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #484a54 1%,var(--primary-bg-color) 100%);
    background: radial-gradient(ellipse at center,  #484a54 1%,var(--primary-bg-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484a54', endColorstr='var(--primary-bg-color)',GradientType=1 );
    */
	display: none;
}

#loadingScreen #LoadingTitle {
	color: var(--primary-fg-color);
    font-size: 22px;
    font-weight: 100;
    left: 50%;
    margin-left: -40%;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 80%;
}

#loadingScreen .workingSpinner {
	top: 110%;
	-webkit-transition: top 0.6s ease;
	-moz-transition: top 0.6s ease;
	-o-transition: top 0.6s ease;
	transition: top 0.6s ease;
}

#loadingScreen.active .workingSpinner {
	top: 50%;
}

#statusMessage {
	display: none;
	position: absolute;
	top: -30px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	-webkit-transition: top 0.6s ease;
	-moz-transition: top 0.6s ease;
	-o-transition: top 0.6s ease;
	transition: top 0.6s ease;
}

#statusMessage.active {
	display: block;
	top: 8px;
	z-index: 100001;
}