.viewOverview {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.viewOverview.active {
	display: block;
}

.mainContainer.editActive .viewOverview {
	border: 10px solid #f8f8f8;
	box-sizing: border-box;
}

.viewOverview .overviewList {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.viewOverview .overviewList .hypervideoThumb {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
}