/* Subtitle Element */

#CaptionContainer .subtitleElement {
	color: #ffffff;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 10px 20px;
    text-align: center;
	background: transparent;
	display: none;
}

#CaptionContainer .subtitleElement.active {
	display: block;
}