/*******************
* ContentView
*******************/

/* Content View Items / Collection Items */
.collectionElement {
	float: left;
	position: relative;
	margin-right: 4px;
	opacity: .7;
	background: var(--primary-bg-color);
	box-sizing: border-box;
	border: 2px solid var(--primary-bg-color);
}

.layoutAreaDetails .collectionElement {
	opacity: .5;
	pointer-events: none;
}

.collectionElement:hover {
	opacity: 1;
}

.collectionElement.active {
	opacity: 1;
	border-color: var(--primary-fg-color);
	pointer-events: all;
}

.collectionElement.open {
	opacity: 1;
	outline: 2px solid var(--primary-fg-color);
	pointer-events: all;
}

.layoutArea[data-area="areaLeft"][data-size="large"] .collectionElement, .layoutArea[data-area="areaRight"][data-size="large"] .collectionElement {
	position: absolute;
	top: 0px;
	display: none;
}

.layoutArea[data-area="areaLeft"][data-size="large"] .collectionElement.active, .layoutArea[data-area="areaRight"][data-size="large"] .collectionElement.active {
	display: block;
	border: none;
}

.collectionElement .resourceThumb {
	width: 100%;
	height: 100%;
	outline: none;
}

.layoutArea[data-size="small"] .collectionElement .resourceOverlay {
	/*background: var(--secondary-bg-color);*/
}

.layoutArea[data-size="small"] .collectionElement .resourceIcon {
	width: 30px;
    right: 4px;
    bottom: 8px;
}

.layoutArea[data-area="areaTop"] .collectionElement .resourcePreviewButton, .layoutArea[data-area="areaBottom"] .collectionElement .resourcePreviewButton, .layoutArea[data-area="areaLeft"][data-size="small"] .collectionElement .resourcePreviewButton, .layoutArea[data-area="areaRight"][data-size="small"] .collectionElement .resourcePreviewButton {
	display: none !important;
}

.layoutArea[data-size="small"] .collectionElement .resourceTitle {
	min-width: 120px;
	left: 50%;
	margin-left: -64px;
	background: var(--secondary-bg-color);
	color: var(--primary-fg-color);
	text-shadow: none;
	hyphens: auto;
	white-space: nowrap;
	height: 22px;
	line-height: 20px;
	text-align: center;
	padding: 1px 4px 0 4px;
	display: none;
	z-index: 10;
	width: auto;
}

.layoutArea[data-area="areaTop"][data-size="small"] .collectionElement .resourceTitle {
	top: auto;
	bottom: -30px;
}

.layoutArea[data-area="areaBottom"][data-size="small"] .collectionElement .resourceTitle {
	top: -30px;
	bottom: auto;
}

.layoutArea[data-area="areaLeft"][data-size="small"] .collectionElement .resourceTitle, .layoutArea[data-area="areaRight"][data-size="small"] .collectionElement .resourceTitle {
	display: none !important;
}

.layoutArea[data-size="small"] .collectionElement:hover .resourceTitle {
	display: block;
}

.layoutArea[data-size="small"] .collectionElement.open .resourceTitle {
	display: none !important;
}

/* Content View Item Sizes */

.layoutArea[data-area="areaTop"] .collectionElement, .layoutArea[data-area="areaBottom"] .collectionElement {
	top: 4px;
	height: calc(100% - 8px);
}

.layoutArea[data-area="areaTop"][data-size="large"] .collectionElement, .layoutArea[data-area="areaBottom"][data-size="large"] .collectionElement {
	top: 10px;
	height: calc(100% - 20px);
	margin-right: 10px;
}

.layoutAreaDetails[data-area="areaTop"] .collectionElement, .layoutAreaDetails[data-area="areaBottom"] .collectionElement {
	top: 30px;
	height: calc(100% - 60px);
	margin-right: 10px;
	transition-property: top, height;
	transition-duration: 200ms;
}

.layoutAreaDetails[data-area="areaTop"] .collectionElement.open, .layoutAreaDetails[data-area="areaBottom"] .collectionElement.open {
	top: 10px;
	height: calc(100% - 20px);
}

.layoutArea[data-area="areaTop"][data-size="small"] .collectionElement, .layoutArea[data-area="areaBottom"][data-size="small"] .collectionElement {
	width: 44px;
}

.layoutArea[data-area="areaTop"][data-size="medium"] .collectionElement, .layoutArea[data-area="areaBottom"][data-size="medium"] .collectionElement {
	width: 160px;
}

.layoutArea[data-area="areaTop"][data-size="large"] .collectionElement, .layoutArea[data-area="areaBottom"][data-size="large"] .collectionElement {
	width: 460px;
}

.layoutArea[data-area="areaLeft"] .collectionElement, .layoutArea[data-area="areaRight"] .collectionElement {
	height: 100%;
	left: 4px;
	margin-right: 0px;
	margin-bottom: 4px;
	width: calc(100% - 8px);
}

.layoutArea[data-area="areaLeft"][data-size="small"] .collectionElement, .layoutArea[data-area="areaRight"][data-size="small"] .collectionElement {
	height: 34px;
}

.layoutArea[data-area="areaLeft"][data-size="medium"] .collectionElement, .layoutArea[data-area="areaRight"][data-size="medium"] .collectionElement {
	height: 110px;
}

.layoutArea[data-area="areaLeft"][data-size="large"] .collectionElement, .layoutArea[data-area="areaRight"][data-size="large"] .collectionElement {
	height: calc(100% - 8px);
}

/* Content View Container */

.layoutArea .contentViewContainer {
	position: absolute;
	top: 36px;
	width: 100%;
	height: calc(100% - 36px);
	padding: 0px;
	box-sizing: border-box;
	background: var(--secondary-bg-color);
	color: var(--primary-fg-color);
	display: none;
}

.layoutArea .contentViewContainer[data-type="Timelines"] {
	overflow: auto;
}

.layoutArea .contentViewContainer .slideButton {
    opacity: 0;
    display: none;
}

.layoutArea .contentViewContainer:hover .slideButton {
    opacity: .7;
}

.layoutArea .contentViewContainer .slideButton:hover {
    opacity: 1;
}

.layoutArea[data-size="small"] .contentViewContainer .slideButton.slideLeft {
	left: 0px;
}

.layoutArea[data-size="small"] .contentViewContainer .slideButton.slideRight {
	right: 0px;
}

.layoutArea[data-size="small"] .contentViewContainer .slideButton.slideTop {
	top: 0px;
}

.layoutArea[data-size="small"] .contentViewContainer .slideButton.slideBottom {
	bottom: 0px;
}

.layoutArea[data-area="areaTop"] .contentViewContainer {
	top: 0px;
}

.layoutArea[data-area="areaLeft"] .contentViewContainer {
	top: 0px;
	right: 36px;
	height: 100%;
	width: calc(100% - 36px);
}

.layoutArea[data-area="areaRight"] .contentViewContainer {
	top: 0px;
	left: 36px;
	height: 100%;
	width: calc(100% - 36px);
}

.layoutArea .contentViewContainer.active {
	display: block;
}

.layoutArea .contentViewContainer .contentViewContents {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition-property: top, left;
    transition-duration: 250ms;
}

.layoutArea[data-area="areaTop"] .contentViewContainer .contentViewContents, .layoutArea[data-area="areaBottom"] .contentViewContainer .contentViewContents {
    left: 4px;
    width: 1000000px;
}

.layoutArea[data-area="areaTop"] .contentViewContainer[data-size="large"] .contentViewContents, .layoutArea[data-area="areaBottom"] .contentViewContainer[data-size="large"] .contentViewContents {
    left: 10px;
}

.layoutArea[data-area="areaTop"] .contentViewContainer[data-type="Timelines"] .contentViewContents, .layoutArea[data-area="areaBottom"] .contentViewContainer[data-type="Timelines"] .contentViewContents {
    width: calc(100% - 20px);
}

.layoutArea[data-area="areaLeft"] .contentViewContainer .contentViewContents, .layoutArea[data-area="areaRight"] .contentViewContainer .contentViewContents {
    top: 4px;
}

.layoutArea .contentViewContainer .contentViewContents .transcriptContainer {
	margin: 0px 4px 4px 4px;
	max-height: calc(100% - 8px);
	box-sizing: border-box;
	position: relative;
	background: #fff;
	padding: 7px;
	color: #777;
}

.layoutArea .contentViewContainer .contentViewContents .transcriptContainer span {
	position: relative;
	padding: 1px 2px 1px 4px;
	opacity: .6;
}

.layoutArea .contentViewContainer .contentViewContents .transcriptContainer span:first-child {
	padding-left: 0px;
}

.layoutArea .contentViewContainer .contentViewContents .transcriptContainer span:hover, .layoutArea .contentViewContainer .contentViewContents .transcriptContainer span.active {
	opacity: 1;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer {
	margin: 0px 4px 4px 4px;
	max-height: calc(100% - 8px);
	box-sizing: border-box;
	position: relative;
	padding: 7px;
	overflow: auto;
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased {
	background-color: rgba(100,100,100,.1);
}

.layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased:hover, .layoutArea .contentViewContainer .contentViewContents .customhtmlContainer .timebased.active {
	background-color: rgba(100,110,100,.3);
	cursor: pointer;
}

/* Content View Details */

.layoutAreaDetails .contentViewDetailsContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--secondary-bg-color);
	box-sizing: border-box;
	display: none;
}

.layoutAreaDetails[data-area="areaTop"] .contentViewDetailsContainer {
	border-bottom: 2px solid var(--primary-bg-color);
}

.layoutAreaDetails[data-area="areaBottom"] .contentViewDetailsContainer {
	border-top: 2px solid var(--primary-bg-color);
}

.layoutAreaDetails .contentViewDetailsContainer.active {
	display: block;
}

.layoutAreaDetails .contentViewDetailsContainer .contentViewDetailsContents {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition-property: top, left;
    transition-duration: 250ms;
}

.layoutAreaDetails[data-area="areaTop"] .contentViewDetailsContainer .contentViewDetailsContents, .layoutAreaDetails[data-area="areaBottom"] .contentViewDetailsContainer .contentViewDetailsContents {
	left: 10px;
	width: 1000000px;
}

/* View Layout Manager */

.layoutManager .layoutArea .contentViewPreview {
	position: absolute;
	top: 46px;
	width: calc(100% - 20px);
	height: calc(100% - 56px);
	display: none;
}

.layoutManager .layoutArea[data-area="areaTop"] .contentViewPreview {
	top: 10px;
}

.layoutManager .layoutArea[data-area="areaLeft"] .contentViewPreview {
	top: 10px;
	right: 46px;
	height: calc(100% - 20px);
	width: calc(100% - 56px);
}

.layoutManager .layoutArea[data-area="areaRight"] .contentViewPreview {
	top: 10px;
	left: 46px;
	height: calc(100% - 20px);
	width: calc(100% - 56px);
}

.layoutManager .layoutArea .contentViewPreview.active {
	display: block;
}

.layoutManager .layoutArea .contentViewPreview .contentViewPreviewDescription {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	margin-top: -21px;
	text-align: center;
	pointer-events: none;
}

.layoutManager .layoutArea .contentViewPreview, .contentViewAnimationDiv {
	background: var(--secondary-bg-color) !important;
	padding: 10px;
	box-sizing: border-box;
}

.contentViewAnimationDiv {
	border: 2px solid var(--primary-bg-color);
	color: transparent;
	pointer-events: none;
}

.layoutManager .layoutArea .contentViewPreview .contentViewOptions {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0;
	pointer-events: none;
	transition-property: all;
	transition-duration: 300ms;
	z-index: 2;
}

.layoutManager .layoutArea .contentViewPreview:hover .contentViewOptions {
	opacity: 1;
	pointer-events: all;
}

.layoutManager .layoutArea .contentViewPreview .contentViewOptions button {
	color: var(--primary-fg-color);
	border-color: var(--primary-fg-color);
}

/* Editing UI */

.contentViewEditingUI .message {
	margin-top: 8px;
}

.contentViewEditingUI label {
	display: block;
}

.contentViewEditingUI input[type="text"] {
	box-sizing: border-box;
	height: 32px;
}
.contentViewEditingUI textarea {
	display: block;
	box-sizing: border-box;
	width: 96%;
	height: 32px;
}
.contentViewEditingUI .typeSpecific {
	position: relative;
	display: none;
}

.contentViewEditingUI .typeSpecific.active {
	display: block;
}

.contentViewEditingUI .typeSpecific.codeEditorSmall {
	height: 80px;
}

.contentViewEditingUI .typeSpecific.codeEditorLarge {
	height: 278px;
}

.contentViewEditingUI .contentViewData > div[data-value] {
	display: inline-block;
	cursor: pointer;
}

.contentViewEditingUI .contentViewData > div[data-value].active, .collectionCounter {
	font-weight: bold;
}

.contentViewEditingUI .existingSubtitlesItem {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 6px;
	padding: 3px 8px;
	background: var(--secondary-bg-color);
	color: var(--primary-fg-color);
	cursor: pointer;
}

.contentViewEditingUI .existingSubtitlesItem.active {
	background: var(--primary-bg-color);
}