/* Timeline Element */

.annotationTimeline .timelineElement {
	position: absolute;
	height: 100%;
	background: var(--semi-transparent-fg-color);
	pointer-events: all;
	-moz-transition-duration: 0.2s;
    -moz-transition-property: bottom;
	-webkit-transition-duration: 0.2s;
    -webkit-transition-property: bottom;
    -o-transition-duration: 0.2s;
    -o-transition-property: bottom;
	transition-duration: 0.2s;
    transition-property: bottom;
}

.annotationTimeline .timelineElement.active {
	background: var(--primary-fg-color);
}

.annotationTimeline .timelineElement.highlighted {
	background: var(--primary-fg-color) !important;
	z-index: 100000;
}

.annotationTimeline.editable .timelineElement {
	background-color: var(--secondary-fg-color);
}

.annotationTimeline .timelineElement.brushed {
	background: var(--semi-transparent-fg-highlight-color);
}

.annotationTimeline .timelineElement.brushed.active, .annotationTimeline.editable .timelineElement.brushed {
	background-color: var(--primary-fg-color);
}

.annotationTimeline .timelineElement.ui-draggable:hover {
	cursor: move;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle {
	position: absolute;
	top: -2px;
	width: 3px;
	height: 100%;
	background-color: var(--primary-fg-color);
	border: 2px solid #000;
	border-radius: 3px;
	display: none;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle:hover {
	background-color: var(--primary-fg-color);
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-ne {
	top: -2px;
	right: -2px;
	cursor: ne-resize;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-nw {
	top: -2px;
	left: -2px;
	cursor: nw-resize;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-se {
	bottom: -2px;
	right: -2px;
	cursor: se-resize;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-sw {
	bottom: -2px;
	left: -2px;
	cursor: sw-resize;
}

.annotationTimeline .timelineElement.ui-resizable:hover .ui-resizable-handle {
	display: block;
}

/* Compare Timeline Element */

.timelineList .userTimelineWrapper {
	margin-top: 20px;
}

.timelineList .userLabel {
	font-weight: 300;
	margin-bottom: 2px;
}

.timelineList .userTimeline .compareTimelineElement {
	position: absolute;
	height: 20px;
	background: #888;
	opacity: .3;
}

.timelineList .userTimeline .compareTimelineElement .previewWrapper, body > .compareTimelineElement .previewWrapper {
	background: none repeat scroll 0 0 #3F4759;
	box-shadow: 0 0 1px 3px #222222;
	height: 70px;
	left: 50%;
	margin-left: -50px;
	position: absolute;
	top: -85px;
	width: 100px;
	z-index: 2;
	display: none;
}

.timelineList .userTimeline .compareTimelineElement:hover .previewWrapper {
	display: block;
}

.timelineList .userTimeline .compareTimelineElement .previewWrapper:after, body > .compareTimelineElement .previewWrapper:after {
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -10px;
	border-top: 10px solid #3F4759;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content: '';
	font-weight: 300;
}

.timelineList .userTimeline .compareTimelineElement .previewWrapper .resourceThumb, body > .compareTimelineElement .previewWrapper .resourceThumb {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
	background-size: 130% auto;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	outline: 4px solid #3F4759;
}

.timelineList .userTimeline .compareTimelineElement .previewWrapper .resourceThumb .resourceTitle, body > .compareTimelineElement .previewWrapper .resourceThumb .resourceTitle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: rgba(60, 73, 94, 0.8);
	font-size: 11px;
	padding: 3px;
	color: #E2EDF8;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.timelineList .userTimeline .compareTimelineElement .previewWrapper .resourceThumb .resourceOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}


.timelineList .userTimeline .compareTimelineElement .previewWrapper .resourceOverlay .resourceIcon, body > .compareTimelineElement .previewWrapper .resourceOverlay .resourceIcon {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 25px;
	height: auto;
}

.timelineList .userTimeline .compareTimelineElement:hover {
	opacity: 1;
	cursor: move;
}