/* Timeline Element */

.annotationTimeline .timelineElement {
	position: absolute;
	height: 100%;
	background: var(--semi-transparent-fg-color);
	pointer-events: all;
	-moz-transition-duration: 0.2s;
    -moz-transition-property: bottom;
	-webkit-transition-duration: 0.2s;
    -webkit-transition-property: bottom;
    -o-transition-duration: 0.2s;
    -o-transition-property: bottom;
	transition-duration: 0.2s;
    transition-property: bottom;
}

.annotationTimeline .timelineElement.active {
	background: var(--primary-fg-color);
}

.annotationTimeline .timelineElement.highlighted {
	background: var(--primary-fg-color) !important;
	z-index: 100000;
}

.annotationTimeline.editable .timelineElement {
	background-color: var(--secondary-fg-color);
}

.annotationTimeline .timelineElement.brushed {
	background: var(--semi-transparent-fg-highlight-color);
}

.annotationTimeline .timelineElement.brushed.active, .annotationTimeline.editable .timelineElement.brushed {
	background-color: var(--primary-fg-color);
}

.annotationTimeline .timelineElement.ui-draggable:hover {
	cursor: move;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle {
	position: absolute;
	top: -2px;
	width: 3px;
	height: 100%;
	background-color: var(--primary-fg-color);
	border: 2px solid #000;
	border-radius: 3px;
	display: none;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle:hover {
	background-color: var(--primary-fg-color);
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-ne {
	top: -2px;
	right: -2px;
	cursor: ne-resize;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-nw {
	top: -2px;
	left: -2px;
	cursor: nw-resize;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-se {
	bottom: -2px;
	right: -2px;
	cursor: se-resize;
}

.annotationTimeline .timelineElement.ui-resizable .ui-resizable-handle.ui-resizable-sw {
	bottom: -2px;
	left: -2px;
	cursor: sw-resize;
}

.annotationTimeline .timelineElement.ui-resizable:hover .ui-resizable-handle {
	display: block;
}

/* Compare Timeline Element */

.timelineList .userTimelineWrapper {
	margin-top: 20px;
}

.timelineList .userLabel {
	font-weight: 300;
	margin-bottom: 2px;
}

.timelineList .userTimeline .compareTimelineElement {
	position: absolute;
	height: 20px;
	background: #888;
	opacity: .3;
}

/* Timeline Element Preview */

.compareTimelineElement .previewWrapper, 
.timelineElement .previewWrapper, 
body > .compareTimelineElement .previewWrapper,
body > .timelineElement .previewWrapper {
	background: none repeat scroll 0 0 var(--primary-bg-color);
	border: 2px solid var(--primary-bg-color);
	/*box-shadow: 0 0 2px 1px var(--primary-fg-color);*/
	height: 60px;
	left: 50%;
	margin-left: -40px;
	position: absolute;
	top: -66px;
	width: 80px;
	z-index: 2;
	box-sizing: border-box;
	display: none;
}

.compareTimelineElement:hover .previewWrapper,
.timelineElement:hover .previewWrapper {
	display: block;
}

.compareTimelineElement.ui-draggable-dragging:hover .previewWrapper,
.timelineElement.ui-draggable-dragging:hover .previewWrapper {
	display: none;
}

.compareTimelineElement .previewWrapper:after, 
.timelineElement .previewWrapper:after, 
body > .compareTimelineElement .previewWrapper:after,
body > .timelineElement .previewWrapper:after {
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -12px;
	border-top: 8px solid var(--primary-bg-color);
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: '';
	font-weight: 300;
}

.compareTimelineElement .previewWrapper .resourceThumb, 
.timelineElement .previewWrapper .resourceThumb, 
body > .compareTimelineElement .previewWrapper .resourceThumb,
body > .timelineElement .previewWrapper .resourceThumb {
	position: relative;
	width: 100% !important;
	height: 100% !important;
	cursor: pointer;
	background-color: var(--primary-bg-color);
	background-size: 130% auto;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	margin: 0px !important;
	font-size: 11px;
	text-align: left;
}

.compareTimelineElement .previewWrapper .resourceThumb .resourceTitle, 
.timelineElement .previewWrapper .resourceThumb .resourceTitle, 
body > .compareTimelineElement .previewWrapper .resourceThumb .resourceTitle,
body > .timelineElement .previewWrapper .resourceThumb .resourceTitle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: var(--primary-bg-color);
	font-size: 11px;
	padding: 0 3px 3px 3px;
	color: var(--primary-fg-color);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.compareTimelineElement .previewWrapper .resourceThumb[data-type="text"] .resourceTitle, 
.timelineElement .previewWrapper .resourceThumb[data-type="text"] .resourceTitle, 
body > .compareTimelineElement .previewWrapper .resourceThumb[data-type="text"] .resourceTitle,
body > .timelineElement .previewWrapper .resourceThumb[data-type="text"] .resourceTitle {
	display: none;
}

.compareTimelineElement .previewWrapper .resourceThumb .resourceOverlay .resourceIcon, 
.timelineElement .previewWrapper .resourceThumb .resourceOverlay .resourceIcon, 
body > .compareTimelineElement .previewWrapper .resourceThumb .resourceOverlay .resourceIcon,
body > .timelineElement .previewWrapper .resourceThumb .resourceOverlay .resourceIcon {
	position: absolute;
	right: 6px;
	bottom: 5px;
	width: 25px;
	height: auto;
}

.compareTimelineElement .previewWrapper .resourcePreviewButton,
.timelineElement .previewWrapper .resourcePreviewButton {
	width: 22px;
	height: 22px;
}

.compareTimelineElement .previewWrapper .resourcePreviewButton [class^="icon-"]::before, 
.compareTimelineElement .previewWrapper .resourcePreviewButton [class*=" icon-"]::before,
.timelineElement .previewWrapper .resourcePreviewButton [class^="icon-"]::before, 
.timelineElement .previewWrapper .resourcePreviewButton [class*=" icon-"]::before {
	font-size: 15px;
	line-height: 22px;
}

.compareTimelineElement .previewWrapper .resourceThumb[data-type="text"] .resourceTextPreview,
.timelineElement .previewWrapper .resourceThumb[data-type="text"] .resourceTextPreview {
	padding: 0px 2px;
}

.timelineElement:hover, .compareTimelineElement:hover {
	opacity: 1 !important;
	z-index: 101;
	cursor: move;
}