#ViewResources {
	color: var(--primary-bg-color);
}

#ViewResources #ResourcesControls {
	width: 100%;
	border-bottom: 1px solid #afafaf;
    height: 48px;
}

#ViewResources #ResourcesControls button {
	float: left;
	margin-right: 6px;
}


#ViewResources #ResourcesControls #ResourceDelete.active {
	border-color: #cd0a0a;
	box-shadow: inset 0 0 2px 2px #333;
	margin-right: 0px;
}

#ViewResources #ResourcesControls #ResourceDeleteConfirm {
	background-color: rgba(205, 10, 10, .6) !important;
	border-color: #cd0a0a;
	color: var(--primary-fg-color);
}

#ViewResources #ResourcesControls #ResourceDeleteConfirm:hover {
	background-color: rgba(205, 10, 10, 1) !important;
}

#ViewResources #ResourcesControls .message {
	display: none;
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 0px;
    width: 250px;
}

#ViewResources #ResourcesControls .message.active {
	display: inline-block;
}

#ViewResources #ResourcesFilter {
	width: 100%;
	padding: 10px 0;
	clear: both;
}

#ViewResources #ResourcesList {
	position: relative;
	width: 100%;
	overflow: auto;
}

#ViewResources #ResourcesList .resourceThumb, #NewHypervideoDialog #NewHypervideoDialogResources .resourceThumb {
	float: left;
	position: relative;
	width: 120px;
	height: 80px;
	margin: 6px;
}

#ViewResources #ResourcesList .resourceThumb.selected, #NewHypervideoDialog #NewHypervideoDialogResources .resourceThumb.selected {
	outline: 2px solid var(--primary-bg-color);
}

#ViewResources #ResourcesList .resourceThumb.markedForDeletion { 
	box-shadow: 0 0 2px 2px #cd0a0a;
}

#ViewResources #ResourcesList .resourceThumb.markedForDeletion .resourceOverlay {
	background: rgba(205, 10, 10, .6);
}

#ViewResources #ResourcesList #LoadingScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9000;
	background-color: rgba(248, 248, 248, 0.4);
}

#ViewResources #ResourcesList #LoadingErrorMessage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9000;
	background-color: rgba(248, 248, 248, 0.9);
}

#ViewResources #ResourcesList #LoadingErrorMessage .message {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 200px;
	margin-left: -100px;
}

/* Upload Dialog */

#UploadDialog .progress {
	background: #666 none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#UploadDialog .progress .bar {
	background-color: #7fc07f;
	width: 0%;
	height: 100%;
	border-radius: 3px;
}

#UploadDialog .progress .percent {
	position: absolute;
	display: block;
	top: 40%;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	font-size: 30px;
}

#UploadDialog .progress .uploadStatus {
	position: absolute;
	display: block;
	bottom: 18%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
}

#UploadDialog #locationSearchWrapper {
	position: relative;
	margin-bottom: 10px;
}

#UploadDialog #locationSearchWrapper #locationSearchCopyright {
	color: #afafaf;
    font-size: 11px;
}

#UploadDialog #locationSearchWrapper #locationSearchSuggestions {
	position: absolute;
	top: 41px;
	background: #d5d6da;
	width: 500px;
	height: auto;
	max-height: 150px;
	overflow: auto;
	border: 2px solid #444;
	display: none;
}

#UploadDialog #locationSearchWrapper #locationSearchSuggestions li {
	list-style: none;
	font-size: 13px;
    font-weight: 100;
	border-bottom: 1px solid var(--primary-fg-color);
	padding: 2px 6px;
}

#UploadDialog #locationSearchWrapper #locationSearchSuggestions li:hover {
	background: #bfbfbf;
	cursor: pointer;
}