#ResourcePicker {
	position: relative;
	width: 100%;
	height: 100%;
}

#ResourcePicker #ResourcePickerControls {
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: var(--primary-fg-color);
	padding: 10px 3px 3px 10px;
	z-index: 1;
}

#ResourcePicker #ResourcePickerControls button {
	background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    border: 2px solid var(--primary-bg-color);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#ResourcePicker #ResourcePickerControls button [class^="icon-"]::before, #ResourcePicker #ResourcePickerControls button [class*=" icon-"]::before {
	font-size: 18px;
	margin-left: 1px;
	margin-top: 2px;
	width: 22px;
}

#ResourcePicker #ResourcePickerList {
	width: 100%;
	height: 100%;
	overflow: auto;
}

#ResourcePicker #ResourcePickerList .resourceThumb {
	float: left;
	position: relative;
	width: 120px;
	height: 80px;
	margin: 6px;
}