*, ::after, ::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 100%;
}

/* buttons */

button, input[type="submit"], input[type="button"], .button {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 22px 0;
  /* transitions */
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.ftAnimatedButton {
  
}

.ftAnimatedButton {
    border: none;
    position: relative;
}

.ftAnimatedButton:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
    
    border-top: 1px solid rgba(255,255,255,.5);
    border-right: 1px solid rgba(255,255,255,.5);
    animation: borderAfter 1s linear 0s forwards 1;
}

.ftAnimatedButton:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0%;
    width: 0%;
    transition-delay: 1s;
    
    border-bottom: 1px solid rgba(255,255,255,.5);
    border-left: 1px solid rgba(255,255,255,.5);
    animation: borderBefore 1s linear 1s forwards 1;
}

@keyframes borderAfter{
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 100%;
        height: 0%;
    }
    100%{
        width: 100%;
        height: 97%;
    }
}
@keyframes borderBefore{
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 100%;
        height: 0%;
    }
    100%{
        width: 100%;
        height: 97%;
    }
}


/* Start Button */

#ftStartButton {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 70px;
	margin-left: -90px;
	width: 180px;
	text-align: center;
	z-index: 30;
	display: none;
	color: #fff;
}

#ftStartButton:hover {
 background: rgba(255,255,255,.025);
}

/* Loading Indicator */

.ftLoadingIndicator {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 4;
	background: #252425 url(../graphics/ftLoadingIndicator.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.ftLoadingIndicator .ftLoadingIcon {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 120px;
	height: 43px;
	margin-top: 0px;
	margin-left: 0px;
	background-color: transparent;
	background-image: url(../graphics/FT-white-transparent.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	transition-property: all;
	transition-duration: 1600ms;
}

.ftLoadingIndicator.active .ftLoadingIcon {
	top: 50%;
	left: 50%;
	width: 140px;
	height: 48px;
	margin-top: -25px;
	margin-left: -70px;
}

.ftLayer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #262626;
}

.ftLayer.active {
	
}

.ftLayer .ftLogo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 120px;
	height: 43px;
	z-index: 2;
}

.ftLayer .ftLayerContent {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition-property: all;
	transition-duration: 1000ms;
	transform-origin: center;
	transform: scale(1.6) rotate(0deg);
}

.ftLayer.active .ftLayerContent {
	transform: scale(1) rotate(0deg);
}

.ftLayer.zoomOut .ftLayerContent {
	transform: scale(0.4) rotate(-6deg)!important;
}

/* Navigation */

.ftLayer .ftLayerContent .ftNavigation {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 60px;
	background-color: #191719;
	z-index: 11;
}

.ftLayer .ftLayerContent .ftNavigation button {
	float: right;
	border: 2px solid #333;
	margin-left: 12px;
}

.ftNavItems {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  border-top: 1px solid #333;
}

.ftNavItems li {
  border-bottom: 1px solid #333;
}

.ftNavIconContainer {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    
}

.ftNavIconContainer img {
  max-width: 15px;
  height: auto;
  vertical-align: middle;
}

.ftNavIconContainer.ftAboutIconContainer img {
  max-width: 10px;
  height: auto;
}

.ftNavIconContainer span {
  display: block;
}

.ftSound, .ftNavShare, .ftNavAbout {
  position: absolute;  
}

.ftSound.ftAboutIconContainer img,
.ftNavShare.ftAboutIconContainer img {
  max-width: 20px;
}

.ftSound {
  top: 0;
  border-bottom: 1px solid #333;
}

.ftNavAbout {
  bottom: 60px;
  border-top: 1px solid #333;
}

.ftNavShare {
  bottom: 0;
  border-top: 1px solid #333;
}

/* INTRO VIDEO */

.ftLayer#ftIntro {
	z-index: 3;
}

.ftLayer#ftIntro video {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* OVERVIEW MAP */

#ftOverview {
    background: #252425 url(../graphics/map-large.jpg) no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    z-index: 2;
}

.pointer {
    margin-left:-10px;
    margin-top:-10px;
    width:20px;
    height:20px;
    border-radius:10px;
    background-color:#F00;
    position:fixed;
}

/* VIDEO (FRAMETRAIL) */

.ftLayer#ftVideo {
	z-index: 1;
}

/*
.ftLayer#ftVideo .ftLogo {
	width: 80px;
	height: auto;
}
*/

iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
}